
version: '3.8'

services:
  postgres:
    image: postgres:16.3
    container_name: postgres_db_compose
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: <<aqui vai a semha>>
    ports:
      - "5432:5432"
    volumes:
      - /home/sergiolopes/Documentos/DataBase:/var/lib/postgresql/data
    networks:
      - postgres-network

  app:
    build: .
    container_name: spring_app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_db_compose:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: <<aqui vai a semha>>
      CHATGPT_APIKEY: <<aqui vai a sua api Keu>>
    networks:
      - postgres-network

networks:
  postgres-network:
    external: true